doctype html
html(lang="en")
    head
        title=title

        //meta
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Disaster Recovery Dashboard")

        // scripts
        script(src="//unpkg.com/leaflet@1.3.4/dist/leaflet.js")
        script(src="//cdn.klokantech.com/mapbox-gl-js/v0.43.0/mapbox-gl.js")
        script(src="//cdn.klokantech.com/mapbox-gl-leaflet/latest/leaflet-mapbox-gl.js")
        script(src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.min.js")
        script(src="//cdn.jsdelivr.net/npm/pouchdb@7.0.0/dist/pouchdb.find.min.js")
        script(src="//cdn.jsdelivr.net/npm/latlon-geohash@1.1.0/latlon-geohash.js")
        script(src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")

        // styles
        link(rel="stylesheet" href="//unpkg.com/leaflet@1.3.4/dist/leaflet.css")
        link(rel="stylesheet" href="//cdn.klokantech.com/mapbox-gl-js/v0.43.0/mapbox-gl.css")
        link(rel="stylesheet" href="/icons/css/all.css")
        link(rel="stylesheet" href="/style/global.css")
        block styles

    body
        div(id="app")
            // main page content
            .page-content
                block content


        #map

        script(src="/script/global.js")

        block scripts