doctype html
html(lang="en")
    head
        title=title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Disaster Recovery Dashboard")
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css")
        script(src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js")
        block styles

    body


        div(id=id+"-page")
            // main page content
            .page-content
                block content


        #map

        block scripts