.leaflet-fa-markers {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
    margin-left: -15px;
    margin-top: -50px;
    width: 50px;
    height: 50px;
}

.leaflet-fa-markers .marker-icon-svg {
    position: absolute;
}
.leaflet-fa-markers .feature-icon {
    position: absolute;
    font-size: 14px;
    background: blue;
    width: 25px;
    height: 25px;
    left: 3px;
    top: 4px;
    border-radius: 10em;
    border-width: 10px;
    padding: 3px;
    padding-top: 5px;
    display: inline-block;
}


.leaflet-fa-markers-circle {
    .feature-icon {
        top: 25px;

    }
}