@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/components/navbar";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/form";
$map-background-water-color: #8dcaf9;

[v-cloak] { display:none }


html,body,#map {
    height: 100%;
    width: 100%;
}

// free to remove attribution
// https://groups.google.com/forum/#!msg/leaflet-js/fA6M7fbchOs/JTNVhqdc7JcJ
.leaflet-control-attribution {display: none;}

#map {
	background: $map-background-water-color;
	margin-left: 350px;

	.leaflet-routing-container {
		display: none;
	}
}

.navbar.is-fixed-top {
	display: none;
	z-index: 2000;
	opacity: 0.5;
	.navbar-item {
		text-transform: lowercase;
		background: #EEE;
		border-radius: 100px;
		margin: 0.5em;
		margin-left: 2em;
	}
	.navbar-item:hover {
		background: #DDD;
		cursor: pointer;
	}
	.navbar-item.active {
		background: #999;
	}
}

#navbox {
	border-right: 1px solid #EEE;
	.logo {
		background: #FFF;
		img {
			width: 40px;
			margin: 5em auto;

		}	
	}

	text-align: center;
	z-index: 3000;
	width: 50px;
	height: 100%;
	background: #4E535D;
	position: fixed;
	top: 0;
	left: 0;

	
	ul li {
		font-size: 18pt;
		color: #FFF;
		display: block;
		margin-bottom: 1px;
		border-radius: 100em;

		line-height: 20px;
		padding: 0.25em;
		margin: 2em 0.20em 2em 0.15em;

	}


	ul li:hover, ul li.active {
		background: #FFF;
		color: #4E535D;
		cursor:pointer;
	}
}

#chatbox {
	width: 300px;
	height: 100%;
	background: #FBFBFB;
	z-index: 1001;
	position: fixed;
	top: 0;
	left: 50px;
	border-right: 1px solid #EEE;
	-webkit-box-shadow: 10px 0px 21px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    10px 0px 21px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         10px 0px 21px 0px rgba(50, 50, 50, 0.2);


	.message {
		background: #3273dc;
		color: #FFF;
		font-size: 11pt;
		margin: 1.3em;
		margin-bottom: 1em;
		border-radius: 1.2em;
		padding: 1em;
		border-top-left-radius: 0px;
		margin-right: 5em;
		filter: drop-shadow(0 0 0.75rem #DDD);
		font-weight: medium;
	
		i {
			text-align: center;
		}
	}

	.my.message {
		background: #FFF;
		color: #222;
		border-top-right-radius: 0px;
		border-top-left-radius: 1.2em;
		margin-left: 5em;
		margin-right: 2em;
	}

	#message-container {
	  overflow-y: scroll;
	  height: 100%;
	  padding-bottom: 50px;

	}

	.prompt {
		height: 50px;
		width: 300px;

		-webkit-box-shadow: 10px 0px 21px 0px rgba(50, 50, 50, 0.2);
		-moz-box-shadow:    10px 0px 21px 0px rgba(50, 50, 50, 0.2);
		box-shadow:         10px 0px 21px 0px rgba(50, 50, 50, 0.2);

		background: #FFF;
		position: fixed;
		bottom: 0;

		input {
			width: 240px;
			float: left;
			margin: 0.5em;
		}
		a.btn {
			background: #4E535D;
			display: block;
			margin: 8px;
			margin-left: 256px;
			border-radius: 100em;
			color: #FFF;
			height: 34px;
			width: 34px;
			line-height: 34px;
			text-align: center;
		}
		a.btn.active {
			background: #3273dc;
		}
		a.btn:hover {
			cursor: pointer;
		}
	}
}